img { width: 50%;
height: 50%;}
body {
    background-color: cadetblue;

}
h2 {font-family: cursive;
color: navajowhite;
}
p{
    font-size: 2em;
    color: navajowhite;
    font-family: cursive;
}
h1{color: navajowhite;
font-family: cursive;}
li{color: navajowhite;}
body{color: navajowhite;
font-size: 1.3em;}
.text{font-size: 1.3em;}
