/*Change the box model*/
html *{
    box-sizing: border-box;

}

*:before, *:after{
    box-sizing: border-box;

}
p {
    background-color:crimson;
    padding: 16px;
    border: 1px solid #000000;
    margin: 30px;
    width: 500px;

}
h1{
    font-family: cursive;
    font-size: 36px;
    color: aquamarine;


}
