/*table {
    border-collapse: collapse;
    border-color: #000;

}

table,th,td {
    border: 2px solid #000;


}

blockquote{
    position: relative;
    bottom: 530px;
    left:80px;

}

td {
    text-align: center;
    font-size: 1em;

}

.mobile {
position:relative;
    bottom: 350px;

}
.title{
    position: relative;
bottom: 150px;


}
.sun{

    position: relative;
bottom: 655px;
    left: 80px;
}


a {
    font-size: 24px;
}

img {
}
main p {
    font-size: 2em;
}
div {
    text-align: center;
}
*/
body {
font: 20px;
flex-direction: column;
text-align: center;

}


nav{

    background-color: aqua;
    flex: 1 25%;
flex-basis: 60%;

}
#everything{

}

main{
background-color: yellow;
flex-direction: row;
flex:auto;

}
aside{
background-color: coral;
    flex-direction: row;
    flex:auto;

}

footer{
    background-color: red;
     flex:auto;
}
#wrapper{
    display: flex;
    flex-direction: column;

}
header{
flex-basis: 100%;
    background-color: blueviolet;

}

img{


    flex-flow: row;
}



table{

    display: none;

}



























