/*table {
    border-collapse: collapse;
    border-color: #000;

}

table,th,td {
    border: 2px solid #000;


}

blockquote{
    position: relative;
    bottom: 530px;
    left:80px;

}

td {
    text-align: center;
    font-size: 1em;

}

.mobile {
position:relative;
    bottom: 350px;

}
.title{
    position: relative;
bottom: 150px;


}
.sun{

    position: relative;
bottom: 655px;
    left: 80px;
}


a {
    font-size: 24px;
}

img {
}
main p {
    font-size: 2em;
}
div {
    text-align: center;
}
*/
body {
display: flex;
flex-wrap: wrap;
flex-direction: row;
text-align: center;

}


nav{

    background-color: aqua;
flex-grow: 1;

}

main{
background-color: cornflowerblue;
flex-grow: 5;

}


footer{
    background-color: chartreuse;
        flex-basis: 100%;
    order: 10;
}

header{
flex-basis: 100%;
    background-color: blueviolet;
}





table{

    display: none;

}



























